.container {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
  text-align: start;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  color: #d7e5cf;
  text-align: left;
  justify-items: flex-start;
}

.image {
  width: 64px;
  height: 64px;
  background: #ffffff;
  border-radius: 6px;
}

.subtitle {
  margin-top: 0;
  font-size: 12px;
}

.texts {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
