.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  align-items: center;
  text-align: center;
}

.image {
  height: 150px;
  width: 150px;
}

.title {
  margin-bottom: 0.51rem;
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
}
.subtitle {
  margin-top: 0;
}
