.container {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 14px;
  margin-bottom: 14px;
  align-items: center;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  color: #d7e5cf;
  text-align: left;
  align-items: flex-start;
}

.image {
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 6px;
}

.subtitle {
  margin-top: 0;
  font-weight: bold;
}

.title {
  margin-top: 5px;
}
